* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body {
  background: white;
  text-align: center;
  font-family: 'Poppins', Helvetica, "Helvetica Neue";
  font-size: 1rem;
}

section {
  vertical-align: middle;
  padding: 0px 15%;
  height: 100vh;
}

section.header {
  background: #0F3FB7;
}

section.header .logo {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

section.header .logo.mobile {
  display: none;
}

section.header .right-half-circle {
  display: inline-block;
  position: absolute;
  margin-top: -15%;
  top: 50%;
  width: 5%;
  right: 0;
}

section.header .scroll-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -94px;
}

section.header .left-triangle {
  display: inline-block;
  position: absolute;
  margin-top: -15%;
  top: 50%;
  left: -1%;
  width: 15%;
}

section.header .location {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
  color: white;
}

section.header .flag {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 20px;
}

section.header .flag img {
  width: 64px;
}

section.header .location .marker {
  display: inline-block;
  width: 30px;
  margin: 3px 10px 0 0;
  vertical-align: top;
}

section.header .location .arrow-right {
  display: inline-block;
  margin: -3px 0 0 10px;
  vertical-align: middle;
  width: 20px;
}

section.header .location div {
  display: inline-block;
  vertical-align: top;
}

section.header .location .name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}

section.header .location .address {
  display: block;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 1px;
}

section .row {
  line-height: 90vh;
  position: relative;
  max-width: 1024px;
  display: inline-block;
  width: 100%;
  height: 90%;
  padding: 5% 0;
}

section .row.pristine {
  line-height: inherit !important;
  position: relative;
  max-width: 1024px;
  display: inline-block;
  width: 100%;
  padding: 5% 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  text-align: left;
  color: white;
  padding-bottom: 1.6rem;
}

.owl-carousel {}

.owl-carousel img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.owl-carousel li {
  display: inline-block;
  /*
  height: 330px;
  width: 330px;
  */
}

.owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
  zoom: 0.7;
}

.owl-prev,
.owl-next {
  display: inline-block !important;
  border: none !important;
  font-size: 0 !important;
  height: 41px;
  width: 41px;
}

.owl-prev {
  background: url(../img/carousel-left.png) !important;
}

.owl-next {
  background: url(../img/carousel-right.png) !important;
}

.owl-prev.disabled,
.owl-next.disabled {
}

.speaker-box {
  background: #FED530;
  color: #0F3FB7;
  width: 90%;
  margin: 0 auto;
  transform: rotate(-2deg);
  margin: -2.7rem auto 2rem auto;
  height: 75px;
  font-weight: 100;
  font-size: 0.8rem;
  padding: 0.8rem;
}

section .slogan #circle {
  width: 30%;
  height:0;
  padding-bottom: 30%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FED530;
  display: inline-block;
  vertical-align: middle;
}

section.white {
  height: 75vh;
}

section .slogan {
  position: relative;
  vertical-align: middle;
}

section .slogan span {
  display: inline-block;
  margin-left: -15%;
  color: #0F3FB7;
  font-size: 1.6rem;
  line-height: 2.2rem;
  vertical-align: middle;
}

section .slogan .hashtag {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.5rem;
  border-bottom: 4px solid #0F3FB7;
}

.clear {
  clear: both;
}

section.schedule {
  width: 100%;
  height: auto;
  background-color: #0F3FB7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #3c3c3c;
  position: relative;
  overflow: hidden;
}

section.schedule:before {
  content: '';
  background: white;
  height: 25vh;
  display: block;
  left: -15%;
  position: absolute;
  right: -15%;
}

section.schedule .table {
  position: relative;
  line-height: normal;
  /* margin-top: -25vh; */
  font-family: "Arial Neue", Arial;
  font-size: 1rem;
  z-index: 9;
}

section.schedule .table .hours,
section.schedule .table .title,
section.schedule .table .talk,
section.schedule .table .second-talk,
section.schedule .table .big-talk {
  display: inline-block;
  padding: 3% 5%;
  float: left;
  text-align: center;
}

section.schedule .table .title {
  font-weight: bold;
}

section.schedule .table .hours {
  width: 11%;
  text-align: left;
  font-size: 0.8rem;
  color: #565656;
}

section.schedule .table .talk,
section.schedule .table .second-talk,
section.schedule .table .big-talk {
  width: 37%;
  text-align: left;
  position: relative;
}

section.schedule .table .second-talk {
  width: 52%;
}

section.schedule .table .big-talk,
section.schedule .table .title {
  width: 89%;
  padding-right: 20%;
}

section.schedule .table .mini .title,
section.schedule .table .mini .hours {
  padding-top: 15px;
  padding-bottom: 15px;
}

section.schedule .table .mini .title {
  font-size: 0.9rem;
  font-weight: normal;
}

section.schedule .table .talk > .inner,
section.schedule .table .big-talk > .inner,
section.schedule .table .second-talk > .inner {
  border-left: 5px solid #fed530;
  padding-left: 10px;
}

section.schedule .table .second-talk > .inner {
  border-color: #42d67b;
}

section.schedule .table .line-odd,
section.schedule .table .line-even {
  display: flex;
  flex-flow: row;
}

section.schedule .table .line-odd {
  background-color: #f2f2f2;
  margin: 0;
}

section.schedule .table .line-odd .second-talk {
  background: #eaeaea;
}

section.schedule .table .line-even {
  background-color: #fafafa;
  margin: 0;
}

section.schedule .table .line-even .second-talk {
  background: #f2f2f2;
}

section.schedule .table .mini {
  background-color: #f5ecc8;
}

section.schedule .table .talk-title {
  font-weight: bold;
  font-size: 0.9rem;
}

section.schedule .table .speaker-name {
  font-size: 0.78rem;
  color: #565656;
  font-weight: normal;
  margin-top: 0.3rem;
}

section.schedule .table .big-talk .talk-title{
  font-size: 1.1rem;
}

section.schedule .table .big-talk .speaker-name{
  font-size: 0.9rem;
}

section.schedule .row > .timetable {
  position: absolute;
  bottom: 70px;
  left: -60px;
  z-index: 1;
}

section.schedule .row > .legend {
  position: absolute;
  top: 30vh;
  right: -90px;
  z-index: 1;
}

section.schedule .schedule-triangle {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

section.schedule .schedule-triangle img {
  position: relative;
  left: -80px;
  bottom: -40px;
  transform: rotate(60deg);
  width: 70%;
}

section.gotomap {
  background: url(../img/reach-us-bg.png) no-repeat center center;
  background-size: cover;
  height: 500px;
}

section.gotomap > .row {
  line-height: 500px;
}

section.gotomap .reach-us {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
}

section.gotomap .reach-us > h3 {
  font-size: 2.5rem;
  color: #0f3fb7;
  font-weight: normal;
}

section.gotomap .reach-us > span {
  display: inline-block;
  font-size: 1.1rem;
  padding: 10px 0 40px 0;
}

section.gotomap .reach-us > a.button {
  display: inline-block;
  background: #0F3FB7;
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  text-decoration: none;
}

section.sponsors {
  background: white;
  height: auto;
  padding-bottom: 10%;
  padding-top: 10%;
}

section.sponsors.media {
  background: #f2f2f2;
}

section.sponsors.iam {
  background: #f2f2f2;
  padding: 0 15%;
}

section.sponsors.iam img {
  max-width: 75%;
}

section.sponsors .row {
  line-height: normal;
  padding-bottom: 0;
}

.grid-title {
  font-size: 2rem;
  color: #0f3fb7;
  font-weight: bold;
  padding: 40px 0;
}

.grid-3-columns .element {
  display: inline-block;
  width: 31%;
  margin: 0 1%;
  height: 250px;
  line-height: 250px;
  text-align: center;
  vertical-align: middle;
}

.grid-3-columns .element img {
  max-width: 75%;
  text-align: center;
  vertical-align: middle;
}

.grid-3-columns .element img.logo-xpeppers {
  max-width: 40%;
}

.grid-3-columns .element img.logo-thread {
  max-width: 80%;
}

.grid-3-columns .element img.logo-sky {
  max-width: 50%;
}

.grid-3-columns .element img.logo-nw {
  max-width: 50%;
}

.grid-3-columns .element img.logo-pmi {
  max-width: 40%;
}

.grid-3-columns .element img.logo-belka {
  max-width: 50%;
  margin-top: -20px;
}

.grid-3-columns .element img.logo-tangible {
  max-width: 65%;
}

.grid-3-columns .element img.logo-universita {
  max-width: 95%;
}

.grid-3-columns .element img.logo-hit {
  max-width: 95%;
}



@media screen and (max-width: 1200px) {
  section {
    padding: 0px 5%;
  }

  section.schedule .row > .legend {
    right: -5.5%;
  }
}

@media screen and (max-width: 500px), (max-height: 500px) {

  .break-mobile {
    display: block;
  }

  section {
    padding: 0px 2%;
    height: auto;
  }

  section .row {
    line-height: normal;
  }

  section.header {
    padding-top: 4rem;
    min-height: 30rem;
  }

  section.header .logo {
    display: none;
  }

  section.header .logo.mobile {
    display: inline-block;
    padding-top: 4rem;
  }

  section.header .left-triangle {
    padding-top: 4rem;
  }

  section.header .right-half-circle {
    padding-top: 8rem;
  }

  section.header .location {
    top: 2rem;
  }

  section.header .location .name {
    font-size: 0.8rem;
    font-weight: normal;
  }

  section.header .location .address {
    font-size: 0.6rem;
    font-weight: normal;
  }

  section.header .scroll-down {
    display: none;
  }

  section.header .right-half-circle {
    top: 8rem;
  }

  section.white {
    height: auto;
  }

  section .slogan #circle {
    width: 50%;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  section .slogan {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  section .slogan span {
    margin-left: -37%;
    line-height: normal;
    font-size: 1rem;
  }

  section .slogan .hashtag {
    font-size: 0.9rem;
    border-bottom: 2px solid #0F3FB7;
  }

  section.schedule .row > .legend {
    display: none;
  }

  .grid-3-columns .element {
    width: 90%;
    margin: 0 1%;
    height: auto;
    line-height: normal;
  }

  .grid-3-columns .element .logo-nw,
  .grid-3-columns .element .logo-fightbean,
  .grid-3-columns .element .logo-pixart,
  .grid-3-columns .element .logo-belka,
  .grid-3-columns .element .logo-tangible {
    margin: 0 auto;
    padding: 40px 0;
  }

  .speaker-box {
    margin: -1.5rem auto 2rem auto;
  }

}

@media screen and (max-width: 369px) {

  section .slogan #circle {
    width: 38%;
    padding-bottom: 38%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  section .slogan span {
    font-size: 0.8rem;
  }
}

[name=tickets] a {
  display: block;
  color: white;
  background: #0d51ca;
  padding: 0.8rem 0.8rem;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: .5s ease all;
  width: 80%;
  margin: 1em auto;
  max-width: 500px;
}
