* {
  margin: 0;
  padding: 0;
}

html, body {
  background: white;
  text-align: center;
}

section {
  vertical-align: middle;
  padding: 0px 15%;
  height: 100vh;
}

section.header {
  background: #0F3FB7;
}

section.header .logo {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
}

section.header .left-triangle {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -1%;
  width: 15%;
  margin-top: -15%;
}

section .row {
  line-height: 90vh;
  position: relative;
  max-width: 1024px;
  display: inline-block;
  width: 100%;
  height: 90%;
  padding: 5% 0;
}

section .slogan #circle {
  width: 30%;
  height:0;
  padding-bottom: 30%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #FED530;
  display: inline-block;
  vertical-align: middle;
}

section .slogan {
  position: relative;
  vertical-align: middle;
}

section .slogan span {
  display: inline-block;
  margin-left: -15%;
  color: #0F3FB7;
  font-size: 20pt;
  line-height: 25pt;
  vertical-align: middle;
}

section .slogan .hashtag {
  display: inline-block;
  font-size: 18pt;
  margin-top: 20px;
  font-size: 16pt;
  border-bottom: 4px solid #0F3FB7;
}
