#headerimg {
  max-width: 1700px;
}

@media (max-width: 500px) {
  #headerimg{
    width: 100%;
  }
}

#circle {
  width: 25%;
  height:0;
  padding-bottom: 25%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
	background: #FED530;
}

.motto-section {
  padding-top: 15em;
  padding-bottom: 25em;
}

.motto {
  position: relative;
  left: -10em;
  top: 6em;
  font-size: 16pt
}

.motto .hashtag {
  font-size: 13pt;
  display: inline-block;
  border-bottom: 4px solid #0F3FB7;
  padding: 0 3px 3px 3px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .motto {
    position: relative;
    left: 0em;
    top: -4em;
  }
}

.motto p {
  color: #0F3FB7;
}

.schedule {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0F3FB7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 767px) {
  .schedule {
    height: 100%;
    padding: 0;
  }
}

.schedule-body {
  padding: 100px 20px;
  display: table-cell;
  vertical-align: middle;
}

.schedule #schedule-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.triangle {
  width: 100%;
  height: auto;
}

.intro-body #intro-triangle {
  position: absolute;
  top: 20em;
  left: 0;
}

.intro-body #time-label {
  position: absolute;
  top: 42em;
  left: 59em;
}

.intro-body #intro-half-circle {
  position: absolute;
  top: 20em;
  right: 0;
}

@media (max-width: 767px) {
  .triangle {
    width: 35%;
    height: auto;
  }

  .intro-body #intro-triangle {
    position: absolute;
    top: 10em;
    left: -4em;
  }

  .intro-body #intro-half-circle {
    position: absolute;
    top: 10em;
    right: 0;
  }

  .half-circle {
    height: 3em;
  }
}

.talk-schedule {
  position: relative;
  top: -15em;
  font-family: "Arial Neue", Arial;
  font-size: 1.1em;
  padding-bottom: 11em;
}

.schedule-line-odd {
  background-color: #ece5e5;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.schedule-line-even {
  background-color: #f7f6f6;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.speaker-name {
  padding-top: 0.5em;
  font-size: 0.9em;
}
